---
layout: default
permalink: /media/
---
{% assign folders="assets/images" | list_folders %}
{% assign d_counter=0 %}
{% for folder in folders %}
    {% assign folders=folder | list_folders %}
    {% assign d_counter_2=0 %}
    {% for folder in folders %}
        {% assign files=folder | list_files: "*.*" %}
        {% assign len = files | size %}
        {% if len > 1 %}
            <div class="row mb-3 border border-info">
                <div class="row m-0 h5 bg-info">{{folder}}</div>
                {% assign counter=0 %}
                <div id="carouselExampleIndicators_{{d_counter}}_{{d_counter_2}}" class="carousel slide">
                    <div class="carousel-inner">
                        {% for file in files %}
                            {% if counter == 0 %}
                                <div class="carousel-item active">
                                    <a target="_blank" href="{{site.baseurl}}/{{file}}">
                                        <img height="500px" src="{{site.baseurl}}/{{file}}" class="d-block" alt="...">
                                    </a>
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    <a target="_blank" href="{{site.baseurl}}/{{file}}">
                                        <img height="500px" src="{{site.baseurl}}/{{file}}" class="d-block" alt="...">
                                    </a>
                                </div>
                            {% endif %}
                            {% assign counter=counter | plus:1 %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_{{d_counter}}_{{d_counter_2}}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators_{{d_counter}}_{{d_counter_2}}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        {% else %}
            <div class="row mb-3">
                <div class="row m-0 h5 bg-info border border-info">{{folder}}</div>
                <div class="row m-0 frame">
                    <img height="auto" width="100%" src="{{site.baseurl}}/{{files[0]}}" alt="...">
                </div>
            </div>
        {% endif %}
        {% assign d_counter_2=d_counter_2 | plus:1 %}
    {% endfor %}
    {% assign d_counter=d_counter | plus:1 %}
{% endfor %}
{% assign files="assets/images" | list_files: "*.*" %}
{% assign len = files | size %}
{% if len > 1 %}
    {% assign counter=0 %}
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-inner">
            {% for file in files %}
                {% if counter == 0 %}
                    <div class="carousel-item active">
                        <a target="_blank" href="{{site.baseurl}}/{{file}}">
                            <img height="900" src="{{site.baseurl}}/{{file}}" class="d-block" alt="...">
                        </a>
                    </div>
                {% else %}
                    <div class="carousel-item">
                        <a target="_blank" href="{{site.baseurl}}/{{file}}">
                            <img height="900" src="{{site.baseurl}}/{{file}}" class="d-block" alt="...">
                        </a>
                    </div>
                {% endif %}
                {% assign counter=counter | plus:1 %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% else %}
    <div class="row mb-3">
        <div class="row m-0 h5 bg-info">{{folder}}</div>
        <div class="row m-0 frame">
            <img height="auto" width="100%" src="{{site.baseurl}}/{{files[0]}}" alt="...">
        </div>
    </div>
{% endif %}