<div class="post-img">
  {% if page.img %}
    {% if page.img contains 'http://' or page.img contains 'https://' %}
      <img width="600" src="{{page.img}}" alt="{{page.title}}">
    {% else %}
      <img width="600" src="{{site.baseurl}}/images/{{page.img}}" alt="{{page.title}}">
    {% endif %}
  {% endif %}
</div>
<div class="mt10 recent">
  <h2>相关文章</h2>
  <ul>
    {% for post in site.related_posts limit:3 %}
      <li>
        <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><small>&nbsp;&nbsp;{{ post.date | date_to_string }}</small></p>
      </li>
    {% endfor %}
  </ul>
</div>
