.article-abstract img {
    height: 180px;
    width: auto;
}

.p-top-70 {
    padding-top: 70px !important;
}

.navbar>.container-fluid {
    justify-content: center;
}

.has-vivid-green-cyan-color {
    color: springgreen;
}

.has-vivid-red-color {
    color: palevioletred;
}

.has-vivid-purple-color {
    color: mediumpurple;
}

.wp-block-quote {
    margin: 20px 0 30px;
    padding-left: 20px;
    border-left: 5px solid #1371b8;
    background-color: azure;
}

.float-nav {
    width: 10%;
}

.carousel {
    img {
        margin: auto;
        object-fit: contain;
        background-color: transparent;
    }
    carousel-item {
        background-color: gray;
    }
}

.carousel-control-prev-icon {
    background-color: turquoise;
}
.carousel-control-next-icon {
    background-color: turquoise;
}

.folded-corner {
    position: relative;
  }
  
  .folded-corner:before {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: grey grey #fff #fff;
    rotate: 270deg;
    background-color: white;
  }