.article-abstract img {
    height: 180px;
    width: auto;
}

.p-top-70 {
    padding-top: 70px !important;
}

.p-bottom-41 {
    padding-bottom: 41px !important;
}

.navbar>.container-fluid {
    justify-content: center;
}

.has-vivid-green-cyan-color {
    color: springgreen;
}

.has-vivid-red-color {
    color: palevioletred;
}

.has-vivid-purple-color {
    color: mediumpurple;
}

.wp-block-quote {
    margin: 20px 0 30px;
    padding-left: 20px;
    border-left: 5px solid #1371b8;
    background-color: azure;
}

.float-nav {
    width: 10%;
}

.carousel {
    img {
        margin: auto;
        object-fit: contain;
        background-color: transparent;
    }
    carousel-item {
        background-color: gray;
    }
}

.carousel-control-prev-icon {
    background-color: turquoise;
}
.carousel-control-next-icon {
    background-color: turquoise;
}

.folded-corner {
    position: relative;
}

.folded-corner:before {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: grey grey #fff #fff;
    rotate: 270deg;
    background-color: white;
}

.post-content {
    figure {
        background-color:#ddc;
        border:solid 5vmin #eee;
        border-bottom-color:#fff;
        border-left-color:#eee;
        border-radius:2px;
        border-right-color:#eee;
        border-top-color:#ddd;
        box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
        box-sizing:border-box;
        display:inline-block;
        position: relative;
        padding:3em;
        margin-bottom: 5vmin;
        &:before {
            border-radius:2px;
            bottom:-2vmin;
            box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
            content:"";
            left:-2vmin;
            position:absolute;
            right:-2vmin;
            top:-2vmin;
        }
        &:after {
            border-radius:2px;
            bottom:-2.5vmin;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
            content:"";
            left:-2.5vmin;
            position:absolute;
            right:-2.5vmin;
            top:-2.5vmin;
        }
        img {
            border:solid 2px;
            border-bottom-color:#ffe;
            border-left-color:#eed;
            border-right-color:#eed;
            border-top-color:#ccb;
        }
    }
}
  
.frame {
    background-color:#ddc;
    border:solid 5vmin #eee;
    border-bottom-color:#fff;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    position: relative;
    padding:3em;
    margin-bottom: 5vmin;
    &:before {
        border-radius:2px;
        bottom:-2vmin;
        box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
        content:"";
        left:-2vmin;
        position:absolute;
        right:-2vmin;
        top:-2vmin;
    }
    &:after {
        border-radius:2px;
        bottom:-2.5vmin;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
        content:"";
        left:-2.5vmin;
        position:absolute;
        right:-2.5vmin;
        top:-2.5vmin;
    }
    img {
        border:solid 2px;
        border-bottom-color:#ffe;
        border-left-color:#eed;
        border-right-color:#eed;
        border-top-color:#ccb;
    }
}

.m-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background: var(--bs-body-bg);
    height: 41px;
}

.m-dropdown {
    z-index: 1000;
}

.wall {
  background-color: #f0f2f5; /* Light wall color */
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-row {
  display: flex;
  gap: 30px; /* Space between frames */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  .sketch-l img {
    display: block;
    width: 100%; /* Adjust picture width */
    height: auto; /* Adjust picture height */
    object-fit: cover;
 }
 .sketch-p img {
    display: block;
    width: auto; /* Adjust picture width */
    height: 600px; /* Adjust picture height */
    object-fit: cover;
 }
}