---
layout: index
---
  <div class="row gx-5 gy-2">
    {% for post in paginator.posts %}
      <div class="col-md-6">
        <div class="row p-2 card h-100">
          {% if post.img %}
            <div class="col-3">
              {% if post.img contains 'http://' or post.img contains 'https://' %}
                <img width="100%" src="{{post.img}}" alt="{{post.title}}">
              {% else %}
                <img width="100%" src="{{site.baseurl}}/assets/images/{{post.img}}" alt="{{post.title}}">
              {% endif %}
            </div>
            <div class="col-9">
          {% else %}
          <div class="col-12">
          {% endif %}
            <div class="card-body p-0">
              <h5 class="card-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncate: 25 }}</a></h5>
              <h6 class="card-text">{{ post.date | date: "%b %-d, %Y" }}</h5>
              <p class="card-text">{{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>

  <nav aria-label="Page navigation">
    {% if paginator.total_pages > 1 %}
      <ul class="pagination justify-content-center mt-3">
        {% if paginator.previous_page %}
          <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
        {% else %}
          <li class="page-item"><span class="page-link">&laquo;</span></li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <li class="page-item active"><span class="page-link">{{ page }}</span></li>
          {% elsif page == 1 %}
            <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', '' | replace: '//', '/' }}">{{ page }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
        {% else %}
          <li class="page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
  </nav>
